:root{
    --body:#332E4F;
    --header:#171423;
    --bg_secondary:#5c5872;
    --header_text:#BBCEA8;
    --readings:#def6c4;
    --header_secondary:#91a180;
}
body{
    background:var(--body);

}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header {
    background-color: var(--header);
    text-align: center;
    align-content: center;
    font-size: 3rem;
    height: 6rem;
    color: var(--header_text);
    border-color: black;
    margin: 0rem;
    padding-top: 2.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    
}
.currentMeasurements{
    width: 80rem;
    height: 50rem;
    margin-top: 2rem;
    background-color: var(--bg_secondary);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}
.historicMeasurements{
    width: 80rem;
    height: 50rem;
    margin-top: 2rem;
    background-color: var(--bg_secondary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}
.info{
    width: 20rem;
    height: 30rem;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: var(--bg_secondary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}
.card{
    display: flex;
    flex-direction: row;
    background-color: var(--body);
    width: 18rem;
    height: 7rem;
    margin: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 5px solid transparent;
    border-radius: 17px;
    flex-basis: 0;
   
}
.card:hover{
    border: 5px solid #a191f9;
}

i{
    font-size: 4rem;
    color: var(--header_secondary);
    padding: 1.2rem;
    border-right: 2.5px solid #171423;
    height: 4.9rem;
}
.wrapper{
    padding-left: 1rem;
    color: var(--header_secondary);
  
}
.label{
    font-size: 1.6rem;
    padding-right: 2rem;
    padding-bottom: 3px;
    margin: 1rem;
}
#Temperature{
    font-size: 2rem;
    padding-left: 1rem;
    margin: 1rem;
    color: var(--readings);
   
}
#Humidity{
    font-size: 2rem;
    padding-left: 1rem;
    margin: 1rem;
    color: var(--readings);
}
#Pressure{
    font-size: 2rem;
    padding-left: 0.1rem;
    margin: 1rem;
    color: var(--readings);
}
#Time{
    font-size: 1rem;
    padding-left: 0.1rem;
    margin: 1rem;
    color: var(--readings);
}
.curHeader{
        display: flex;
        font-size: 2rem;
        flex-basis: 100%;
        text-align:center;
        background-color: var(--header);
        color: var(--header_text);
        margin: 0;
        border-radius: 17px 17px 0px 0px;
        
}
.curHeader h2{
 
    width: 70%;
    
}
.curHeader .switchWrapper{
   
    padding: 35px;
    justify-content: center;
    width: 30%;
    
}

#myChart{
    width: 30rem;
    height: 20rem;
    position: relative;
    flex: 1;
    background-color: var(--body);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 5px solid transparent;
    border-radius: 17px;
    
}
.chartWrapper{
    width: 20rem;
    height: 15rem;
    display: none;
    margin: 1rem;
}
#myChart:hover{
    border: 5px solid #a191f9;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg_secondary);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--readings);  /* when toggle switch  is OFF. This is the circle*/
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--readings); /* when toggle switch  is ON*/
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px ;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: var(--header); /* when toggle switch  is ON. This is the circle*/
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switchWrapper{
    margin: 1rem;
  }

@media  screen and  (max-width: 1000px) {
    .header{
        
        padding-top: 2rem;
        height: 8rem;
        
    }
    .card{
        margin: 1rem;
    }
    .curHeader{
        font-size: 1.5rem;
        max-width: 21rem;
        
    }
    .curHeader h2{
        margin: 1rem;
        
    }
    .currentMeasurements{
       
        max-width: 21rem;
    }
}
@media  screen and  (max-width: 1650px) {
    .historicMeasurements{
        width: 100%;
        margin: 18px;
    }
    .currentMeasurements{
        width: 100%;
        margin: 18px;
    }
    .info{
        width: 100%;
        margin: 18px;

    }
}
@media  screen and  (min-width: 2500px) {
    .info{
        
        margin: 2rem;
    }
}
