<!DOCTYPE HTML>
<html>

<head>
    <title>Weather Station</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/weather-icons-master/css/weather-icons.css">
    <link rel="stylesheet" href="../static/weather-icons-master/css/weather-icons.min.css">
        <link rel="stylesheet" href="../static/main.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="../static/charts.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use weather namespace.
            namespace = '/Weather';

            // Connect to the Socket.IO server.
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            socket.on('connect', function() {
                socket.emit('my_event', {
                    data: 'I\'m connected!'
                });
            });

            // Event handler for server sent data.
            socket.on('my_response', function(msg) {
                $('#Temperature').text(msg.T);
                $('#Pressure').text(msg.P);
                $('#Humidity').text(msg.H);
                $('#Time').text(msg.S);
            });



        });
    </script>
</head>

<body>
    <div class="header">Raspberry Pi Weather Station</div>
    </div>
    <div class="container">
    <!-------------------------------------------------------------------------------------------------->
        <div class="currentMeasurements">
            <h1 class="curHeader">Current Weather Conditions</h1> 
           
            <div class="card">  
                <i class=" wi wi-thermometer"></i>
                <div class="wrapper">
                    <p class="label">Temperature</p>
                    <p id="Temperature"></p>
                </div>
            </div>
            <div class="card">  
                <i class=" wi wi-barometer"></i>
                <div class="wrapper">
                    <p class="label">Pressure</p>
                    <p id="Pressure"></p>
                </div>
            </div>
            <div class="card">  
                <i class=" wi wi-humidity"></i>
                <div class="wrapper">
                    <p class="label">Humidity</p>
                    <p id="Humidity"></p>
                </div>
            </div>
              <div class="card">  
                <i class=" wi wi-time-5"></i>
                <div class="wrapper">
                    <p class="label">Time</p>
                    <p id="Time"></p>
                </div>
            </div>

            <div id="chartContainer" style="height: 300px; width:50%;"></div>
            <div id="chartContainer2" style="height: 300px; width:50%;"></div>
        </div>
    <!-------------------------end of currentMeasurements------------------------------------------------------------------------->
        <div class="info">
                
        </div>
        <!-------------------------end of info------------------------------------------------------------------------->
        <div class="historicMeasurements">

        </div>
        <!-------------------------historicMeasurements------------------------------------------------------------------------->
    </div>
    <!---end of container -->
 
</body>
</html>
