<!DOCTYPE HTML>
<html>

<head>
    <title>Weather Station</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <link rel="stylesheet" href="../static/weather-icons-master/css/weather-icons.css">
    <link rel="stylesheet" href="../static/main.css">
    <script type="text/javascript" src="../static/charts.js"></script>
    <script type="text/javascript" src="../static/main.js"></script>

   
</head>

<body>
    <div class="header">Raspberry Pi Weather Station</div>
    </div>
    <div class="container">
    <!-------------------------------------------------------------------------------------------------->
        <div class="currentMeasurements">
            <div class="curHeader">
                <h2>Current Weather Conditions</h2>
                <div class="switchWrapper">
                    <label class="switch">
                        <input id="check" type="checkbox" onclick="toggleView()">
                        <span class="slider round"></span>
                      </label> 
                </div>
            </div> 

            <div class="card" id="card">  
                <i class=" wi wi-thermometer"></i>
                <div class="wrapper">
                    <p class="label">Temperature</p>
                    <p id="Temperature">26.7C</p>
                </div>
            </div>
            <div class="card" id="card">  
                <i class=" wi wi-barometer"></i>
                <div class="wrapper">
                    <p class="label">Pressure</p>
                    <p id="Pressure">989.01PSI</p>
                </div>
            </div>
            <div class="card" id="card">  
                <i class=" wi wi-humidity"></i>
                <div class="wrapper">
                    <p class="label">Humidity</p>
                    <p id="Humidity">26.7%</p>
                </div>
            </div>
            <div class="card" id="card">  
                <i class=" wi wi-time-5"></i>
                <div class="wrapper">
                    <p class="label">Time</p>
                    <p id="Time">01-02-2022 18:10:33</p>
                </div>
            </div>
            <div class="chartWrapper">
                <canvas id="myChart" ></canvas>
            </div>
            
        </div>
        <!-------------------------end of currentMeasurements------------------------------------------------------------------------->
        <div class="info">
                
        </div>
        <!-------------------------end of info------------------------------------------------------------------------->
        <div class="historicMeasurements">

        </div>
        <!-------------------------historicMeasurements------------------------------------------------------------------------->
    </div><!---end of container -->
    
</body>
</html>
